

<h1>Friends</h1>

<table class="table table-striped table-bordered table-hover ">
  <thead>
    <tr class="table-success">
      <th>Full name</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Phone number</th>
      <th> User id </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td class="table-warning">
         <%= link_to friend.full_name, friend %>


            

          </td>
        <td class="table-info"><%= friend.email %></td>
        <td class="table-danger"><%= friend.twitter %></td>
        <td class="table-primary"><%= friend.phone_number %></td>
        <td class="table-danger"><%= friend.model_name %></td>
        <!-- <td class="table-secondary"><%= link_to 'Show', friend %></td> -->
        <td class="table-secondary"><%= link_to 'Edit', edit_friend_path(friend) %></td>






        <td class="table-secondary">

  <button type="button" class="btn-outline-danger btn-sm"
          <%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn-outline-danger btn-sm" %> 

        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<!-- <button type="button" class="btn btn-dark"> -->

  <%= link_to 'New Friend', new_friend_path, class:"btn btn-outline-success" %>
    

  <!-- </button> -->
